body .title{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body h2{
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body input{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body button{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body .text{
    position: fixed;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body table{
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
    body .title{
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    body h2{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    body input{
        position: absolute;
        top: 55%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
    body button{
        position: absolute;
        top: 55%;
        left: 70%;
        transform: translate(-50%, -50%);
    }
    body .text{
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    body table{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    a {
        position: absolute;
        top: 3%;
        left: 87%;
        transform: translate(-50%, -50%);
    }
}