body {
    margin: 0;
    padding: 0;
}

.ticket_count {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

img{
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
}

.ticket_count h1{
    display: inline;
    position: absolute;
    top: -10%;
    left: 10%;
    transform: translate(-50%, -50%);
}
